:root {
  --font-size-large: 32px;
  --font-size-medium: 28px;
  --font-size-small: 18px;

  --spacing-large: 30px;
  --spacing-medium: 20px;
  --spacing-small: 10px;

  --grey-dark: #333;
  --grey-light: #ccc;
}

.container {
  display: flex;
  flex: 1;
  font-family: 'Quicksand';
  justify-content: center;
  align-items: center;
  background-color: var(--grey-dark);
  padding: var(--spacing-medium) var(--spacing-medium) 0;
  width: 100%;
}

.header__main {
  color: var(--grey-light);
  font-size: var(--font-size-large);
  padding: var(--spacing-large) 0 var(--spacing-small);
}

.buttonsWrapper {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-medium);
  margin-top: var(--spacing-medium);
}

.list {
  max-width: 580px;
  width: 100%;
}

.aisle {
  border-top: 1px solid var(--grey-light);
  margin: var(--spacing-medium) 0 0;
  padding: var(--spacing-small) 0;

  &__text {
    color: var(--grey-light);
    font-size: var(--font-size-medium);
    text-align: center;
    text-transform: capitalize;
  }
}

.item {
  background-color: var(--grey-light);
  padding: var(--spacing-small) var(--spacing-small) var(--spacing-small) var(--spacing-medium);
  margin: var(--spacing-small) 0;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  border-radius: 8px;

  &__text {
    font-size: var(--font-size-small);
    text-transform: capitalize;
  }
}

.removeItem {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &__icon {
    width: 50%;
    height: 50%;
    display: block;
  }
}
